body {
    font-family:'Roboto', sans-serif;
    font-size:1.6em;
}

h1, h2, h3, h4 {
    font-family:'Roboto', sans-serif;
    font-weight:500;
}

h1 {
    font-size:1.953em;
}

h2 {
    font-size:1.563em;
    text-transform: uppercase;
    color: rgba(0,0,0,0.87);
}

h3 {
    font-size:1.25em;
    color: rgba(0,0,0,0.54);
}

select {
    background: #fff;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,0.35);
    width:50%;
    padding:0.5em;
}

select option {
    padding: 0.5em;
}

/*Overriding calendar*/
#calendar {
    margin-top:2.2em;
}

.fc-toolbar h2 {
    font-size:1.4em;
    color: #333;
}

/* Task page */
.task-list input[type=text] {
    width:100%;
}

.task-list article {
    border-bottom:1px solid #ccc;
}
.workers-list a {
    display: inline-block;
    padding: 0.5em;

    font-size:1em;

    margin-top:0.5em;
    margin-right:0.5em;
}

.remove-worker {
    background: red;
    display: none;
    padding:0.5em;
    margin-left:0.5em;

    font-size: 1em;
    font-weight:600;
}

.buttons-complete-add {
    text-align: center;
    display: block;
}

.tasks-title h1, .calendar-title h1 {
    display: inline-block;
}

.tasks-title span, .calendar-title span {
    display: none;
}

.menu-icon {
    font-weight: 700;
}

article p {
    text-align: justify;
}

.undo {
    display: none;

    position: fixed;
    bottom: 2em;
    left:2em;
    z-index:1000;

    background: rgba(0,0,0,0.75);
    color: #fff;
    border-radius: 10px;

    padding:1.5em;
}

.undo a {
    padding-left: 2em;
    text-decoration: none;
}

footer {
    padding:1em;
    background: #03a9f4;
}




/* Overriding bootstrap */
.btn-danger {
    color: #fff;
}

.btn-danger:hover {
    color: #f44336;
}



@media screen and (max-width: 480px){

    .calendar {
        display: none;
    }

    .tasks-title span, .calendar-title span {
        position: relative;
        display: inline-block;
        float: right;
        top: 1em;
        font-size:2em;
        cursor: pointer;
    }
}