body {
    font-family:'Roboto', sans-serif;
    font-size:1.6em;
    color: rgba(0,0,0,0.94);
}

h1, h2, h3, h4 {
    font-family:'Roboto', sans-serif;
    font-weight:500;
}

h1 {
    font-size:1.953em;
}

h2 {
    font-size:1.563em;
    /*text-transform: uppercase;*/
    color: rgba(0,0,0,0.87);
}

h3 {
    font-size:1.25em;
    color: rgba(0,0,0,0.54);
}

h4 {
    font-size:1.05em;
}

select {
    background: #fff;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,0.35);
    width:50%;
    padding:0.5em;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

select option {
    padding: 0.5em;
}

/*Overriding calendar*/
#calendar {
    margin-top:2.2em;
}

.fc-toolbar h2 {
    font-size:1.4em;
    color: #333;
}

/* Task page */
input[type=text] {
    width:100%;
}

article {
    border-bottom:1px solid #ccc;
}
.workers-list a {
    display: inline-block;
    padding: 0.5em;

    font-size:1em;

    margin-top:0.5em;
    margin-right:0.5em;
}

.worker {
    /*display: flex;*/
    /*justify-content:space-around;*/
    /*align-items: center;*/

    padding:2em 1em;
    background: rgba(0,0,0,0.1);
}

.worker:nth-child(even) {
    background: #fff;
}

.worker-info {
    /*align-self: flex-start;*/
}

.worker-id {
    text-align: center;
}

.worker-id > div {
    font-size: 5em;
    background: #ccc;
    border-radius: 50%;
}

.worker-tasks div {
    display: inline-block;
    cursor: pointer;
    padding:0.75em;
    margin-right:0.5em;
    margin-top:0.5em;

    text-align: center;

    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.worker-tasks div span:nth-child(3) {
    font-weight:700;
    padding-left:0.3em;
}

.remove-worker {
    background: red;
    display: none;
    padding:0.7em;
    margin-left:0.5em;

    color: #fff;
    font-size: 1em;
    font-weight:600;
}

.buttons-complete-add {
    text-align: center;
}

.buttons-complete-add button {
    font-size: 1em;
    font-weight:500;
}

.tasks-title h1, .calendar-title h1 {
    display: inline-block;
}

.tasks-title span, .calendar-title span {
    display: none;
}

.menu-icon {
    font-weight: 700;
}

article p {
    text-align: justify;
}

.undo {
    display: none;

    position: fixed;
    bottom: 2em;
    left:2em;
    z-index:1000;

    background: rgba(0,0,0,0.75);
    color: #fff;
    border-radius: 10px;

    padding:1.5em;
}

.undo a {
    padding-left: 2em;
    text-decoration: none;
}

footer {
    padding:1em;
    background: #03a9f4;
}




/* Overriding bootstrap */
.btn-danger, .btn-success, .btn-info {
    color: #fff !important;
}

.btn-danger:hover, .btn-success:hover, .btn-info:hover {
    color: #262626 !important;
}

.navbar {
    margin-bottom:0;
    font-weight:500;
}


@media screen and (max-width: 480px){

    body {
        font-size:1.8em;
    }

    .calendar {
        display: none;
    }

    .tasks-title span, .calendar-title span {
        position: relative;
        display: inline-block;
        float: right;
        top: 0.5em;
        font-size:2em;
        cursor: pointer;
    }
}